<li class='list-group-item ps-0 border border-0'>
  <h6>
    <%= link_to collection.name,
                collection_path(collection),
                class: 'text-decoration-none text-black' %>
  </h6>
  <p class='w-75 ms-3 lh-sm'><%= collection.blurb %></p>
</li>
