<small>
<%# if user_signed_in? %>
  <%= link_to 'new collection', new_collection_path, class: 'text-black'  %>
<%# end %>
</small>

<h2 class='page-heading'>Collections</h2>


<ul class='list-group list-group-flush w-50 mt-3'>
  <%= render @collections %>
</ul>
