<h4 class='page-heading'><%= link_to 'Explore the shelves', genres_path, class: 'text-black' %></h2>

<blockquote class='mt-5'>
  <p>
    There is nothing to writing.
    All you do is sit down at a typewriter and bleed.
    <small class='d-block'><i>- Ernest Hemmingway</i></small>
  </p>
  <p>
    Don't tell me the moon is shining; show me the glint of light on broken glass.
    <small class='d-block'><i>- Anton Chekhov</i></small>
  </p>
  <p>
    Lock up your libraries if you like;
    <br>
    but there is no gate, no lock, no bolt that you can set upon the freedom of my mind.
    <small class='d-block'><i>- Virginia Woolf</i></small>
  </p>
</blockquote>
